/* Định dạng nền trắng đục */
.bg-white-dusky {
    background-color: rgba(255, 255, 255, 0.9); /* Màu trắng với độ đục là 90% */
    padding: 20px; /* Thêm padding để tạo khoảng trống xung quanh */
}

/* Định dạng form màu trắng */
.form-control {
    background-color: #ffffff; /* Màu nền trắng cho các trường nhập liệu */
}
